<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>
<ul id="tickets" class="tickets" data-url="<%= sort_tickets_path %>">
    <% Ticket.all.each do |ticket| %>
        <li class="ticket" id="<%= dom_id(ticket) %>" draggable="true"><%= ticket.external_id + " " + ticket.tracker %></li>
    <% end %>
</ul>

<%= javascript_pack_tag 'tickets', 'data-turbolinks-track': 'reload' %>
