<div class="container-fluid">
    <div id="ticket-lists" class="row flex-row flex-nowrap">
        <!-- Render statuses each in separate column -->
        <%= render :partial => Status.all %>
    </div>
</div>

<%= javascript_pack_tag 'tickets', 'data-turbolinks-track': 'reload' %>
